<div *ngIf="company">
  <div class="main-content">
    <div class="col-xs-12">

      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">{{company.name | uppercase}} Details</h4>
        </div>
        <div class="card-body">
          <div><span>address: </span>{{company.address}}</div>
          <div><span>city: </span>{{company.city}}</div>
          <div><span>country: </span>{{company.country}}</div>
          <div><span>email: </span>{{company.email}}</div>
          <div><span>postal code: </span>{{company.postalcode}}</div>
          <div><span>username: </span>{{company.username}}</div>

        </div>  
      </div>
    </div>
  </div>
</div>
