<div class="main-content">
  <div class="col-xs-12">

    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Companies</h4>
      </div>
      <div class="card-body">
        <div class="card" *ngFor="let company of companies" >
          <div routerLink="/companies/{{company.id}}">
            <a > 
              <h5 class="card-title">{{company.name}}</h5>
            </a>
          </div>
          <button mat-raised-button color="primary" (click)="deleteCompany(company.id)">Delete</button>

        </div>
      </div>  
    </div>  
  </div>
</div>

 