<div class="main-content">
  <div class="col-xs-12">

    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Students</h4>
      </div>
      <div class="card-body">
        <div class="card" *ngFor="let student of students">
          <a routerLink="/students/{{student.id}}">
            <h5 class="card-title">{{student.firstName}} {{student.lastName}}</h5>
          </a>
          <button mat-raised-button color="primary" (click)="deleteStudent(student.id)">Delete</button>

        </div>
      </div>
    </div>
  </div> 
</div>
