<div class="main-content">
  <div class="col-xs-12">
    <form [formGroup]="internshipForm" (ngSubmit)="newInternship(internshipForm.value)">
      <div>
        <label for="title">
          Title
        </label>
        <input id="title" type="text" formControlName="title">
      </div>

      <div>
        <label for="description">
          Description
        </label>
        <input id="description" type="text" formControlName="description">
      </div>

      <button class="button" type="submit">Add Internship</button>
    </form>
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Internships</h4>
      </div>
      <div class="card-body">
        <div class="card" *ngFor="let internship of internships">
          <a href="#" class="card-body internship">
            <h5 class="card-title">{{internship.title}}</h5>
<!--            <p class="card-text">{{internship.company.name}}</p>-->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
