<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8" style="float:none;margin:auto;">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">User Profile</h4>
                      <p class="card-category">Here you can edit your user details</p>
                  </div>
                  <div *ngIf='user' class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field  class="example-full-width">
                                      <input [value]="user.username"  matInput placeholder="Username" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">

                                  <mat-form-field  class="example-full-width">
                                      <input  [value]="user.email" matInput placeholder="Email address" type="email" disabled>
                                  </mat-form-field>
                              </div>
                          </div>

<!--                          <div class="row">-->
<!--                              <div class="col-md-6">-->
<!--                                  <mat-form-field  class="example-full-width">-->
<!--                                      <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" matInput placeholder="Old Password" type="password" required>-->
<!--                                  </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-6">-->
<!--                                  <mat-form-field  class="example-full-width">-->
<!--                                      <input [(ngModel)]="u" [ngModelOptions]="{standalone: true}" matInput placeholder="Repeat Password" type="password" required>-->
<!--                                  </mat-form-field>-->
<!--                              </div>-->
<!--                          </div>-->

                          <div *ngIf='isCompany()' class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" matInput placeholder="Fist Name" type="text" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" matInput placeholder="Last Name" type="text" required>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div *ngIf='isCompany()' class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="user.companyName" [ngModelOptions]="{standalone: true}" matInput placeholder="Company Name" type="text" required>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div *ngIf='isUniversity()' class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)]="user.universityName" [ngModelOptions]="{standalone: true}" matInput placeholder="University Name" type="text" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field  class="example-full-width">
                                      <input [(ngModel)]="user.facultyName" [ngModelOptions]="{standalone: true}" matInput placeholder="Faculty Name" type="text" required>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div *ngIf='!isStudent()' class="row">
                              <div class="col-md-12">
                                  <mat-form-field  class="example-full-width">
                                      <input [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" matInput placeholder="Adress" type="text" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field  class="example-full-width">
                                      <input [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}" matInput placeholder="City" type="text" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field  class="example-full-width">
                                      <input [(ngModel)]="user.country" [ngModelOptions]="{standalone: true}" matInput placeholder="Country" type="text" required>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field  class="example-full-width">
                                      <input [(ngModel)]="user.postalCode" [ngModelOptions]="{standalone: true}" matInput placeholder="Postal Code" type="text" required>
                                  </mat-form-field>
                              </div>
                          </div>

                          <button mat-raised-button (click)='save()' class="btn btn-danger pull-right">Save</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
